.App {
  font-family: sans-serif;
  text-align: center;
}

.outer-wrapper {
  font-family: sans-serif;
  margin: 0 auto;
  min-width: 30%;
  max-width: 50%;
}
.wrapper {
  margin-top: 20px;
  max-width: 800px;
  min-width: 400px;
  border: solid 1px cadetblue;
  border-radius: 3.5px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.head {
  background-color: cadetblue;
  padding: 15px;
}
h1 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.search-form {
  text-align: center;
}
.submitbutton {
  background-color: #fff;
  color: cadetblue;
  border: 1px solid cadetblue;
  border-radius: 4px;
  padding: 4px 7px;
}

input[type="text"] {
  width: 70%;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 3px;
}

h2 {
  padding-left: 10px;
  margin-top: 10px;
  color: cadetblue;
  font-weight: 600;
}

ul {
  padding: 0px 10px;
  list-style: none;
  font-size: 15px;
  color: gray;
}

li::first-letter {
  text-transform: capitalize;
}

.col-8 {
  line-height: 1;
}

img {
  width: 60px;
  margin: 6px;
  height: auto;
  vertical-align: middle;
}

.displaytemperature {
  font-size: 40px;
  color: cadetblue;
  font-weight: 400;
  vertical-align: middle;
}
.unit {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  vertical-align: top;
}

.github-link {
  font-family: sans-serif;
  color: cadetblue;
  text-decoration: none;
}
.github-link:hover {
  font-family: sans-serif;
  color: cadetblue;
  text-decoration: underline;
}
